{
    "plugins": [
        "stylelint-order",
        "stylelint-scss",
    ],
    "rules": {
        "order/properties-order": [{
            "order": "",
            "properties": [
                "content",
                "z-index",
                "position",
                "top",
                "right",
                "bottom",
                "left",
            ],
        },
        {
            "order": "",
            "properties": [
                "display",
                "visibility",
                "grid-template-columns",
                "grid-template-rows",
                "grid-template-areas",
                "grid-template",
                "grid-auto-columns",
                "grid-auto-rows",
                "grid-auto-flow",
                "grid",
                "grid-row-start",
                "grid-column-start",
                "grid-row-end",
                "grid-column-end",
                "grid-row",
                "grid-column",
                "grid-area",
                "grid-row-gap",
                "grid-column-gap",
                "grid-gap",
                "flex",
                "flex-grow",
                "flex-shrink",
                "flex-basis",
                "flex-direction",
                "order",
                "flex-order",
                "flex-wrap",
                "flex-flow",
                "justify-content",
                "align-self",
                "align-items",
                "align-content",
                "flex-pack",
                "flex-align",
                "float",
                "clear",
                "box-sizing",
                "table-layout",
                "width",
                "height",
                "min-width",
                "min-height",
                "max-width",
                "max-height",
                "margin",
                "margin-top",
                "margin-right",
                "margin-bottom",
                "margin-left",
                "padding",
                "padding-top",
                "padding-right",
                "padding-bottom",
                "padding-left",
                "overflow",
                "overflow-x",
                "overflow-y",
                "vertical-align",
                "clip",
            ],
        },
        {
            "order": "",
            "properties": [
                "color",
                "font",
                "font-display",
                "font-family",
                "font-size",
                "font-weight",
                "font-style",
                "font-variant",
                "font-size-adjust",
                "font-stretch",
                "line-height",
                "letter-spacing",
                "text-align",
                "text-align-last",
                "text-decoration",
                "text-indent",
                "text-justify",
                "text-outline",
                "text-transform",
                "text-wrap",
                "text-overflow",
                "text-overflow-ellipsis",
                "text-overflow-mode",
                "text-shadow",
                "white-space",
                "word-spacing",
                "word-wrap",
                "word-break",
                "counter-increment",
                "counter-reset",
                "list-style",
                "list-style-position",
                "list-style-type",
                "list-style-image",
            ],
        },
        {
            "order": "",
            "properties": [
                "background",
                "background-color",
                "background-image",
                "background-position",
                "background-position-x",
                "background-position-y",
                "background-size",
                "background-repeat",
                "background-attachment",
                "background-clip",
                "background-origin",
                "box-shadow",
                "filter",
            ],
        },
        {
            "order": "",
            "properties": [
                "outline",
                "outline-width",
                "outline-style",
                "outline-color",
                "outline-offset",
                "border",
                "border-top",
                "border-right",
                "border-bottom",
                "border-left",
                "border-style",
                "border-top-style",
                "border-right-style",
                "border-bottom-style",
                "border-left-style",
                "border-width",
                "border-top-width",
                "border-right-width",
                "border-bottom-width",
                "border-left-width",
                "border-color",
                "border-top-color",
                "border-right-color",
                "border-bottom-color",
                "border-left-color",
                "border-spacing",
                "border-collapse",
                "border-radius",
                "border-top-right-radius",
                "border-top-left-radius",
                "border-bottom-right-radius",
                "border-bottom-left-radius",
            ],
        },
             {
            "order": "",
            "properties": [
                "transition",
                "transition-delay",
                "transition-timing-function",
                "transition-duration",
                "transition-property",
                "transform",
                "transform-origin",
                "animation",
                "animation-name",
                "animation-duration",
                "animation-play-state",
                "animation-timing-function",
                "animation-delay",
                "animation-iteration-count",
                "animation-direction",
            ],
        },
        {
            "order": "flexible",
            "properties": [
                "opacity",
                "resize",
                "cursor",
                "counter-increment",
                "counter-reset",
                "pointer-events",
            ],
        }],
        "color-no-invalid-hex": true,

        "font-family-no-duplicate-names": true,
        "font-family-no-missing-generic-family-keyword": true,

        "function-calc-no-unspaced-operator": true,
        "function-linear-gradient-no-nonstandard-direction": true,

        "string-no-newline": true,

        "unit-no-unknown": true,

        "property-no-unknown": true,

        "keyframe-declaration-no-important": true,

        "declaration-block-no-duplicate-properties": [
            true,
            {
                "ignore": ["consecutive-duplicates-with-different-values"]
            },
        ],
        "declaration-block-no-shorthand-property-overrides": true,

        "block-no-empty": true,

        "selector-pseudo-class-no-unknown": [
            true,
            "ignorePseudoClasses": ["focus-visible"]
        ],
        "selector-pseudo-element-no-unknown": true,
        "selector-type-no-unknown": true,

        "media-feature-name-no-unknown": true,

        "comment-no-empty": true,

        "no-descending-specificity": true,
        "no-duplicate-at-import-rules": true,
        "no-duplicate-selectors": true,
        "no-empty-source": true,
        "no-extra-semicolons": true,
        "no-invalid-double-slash-comments": true,

        "color-named": "never",

        "number-max-precision": 8,

        "time-min-milliseconds": 100,

        "unit-whitelist": ["deg", "em", "fr", "px", "rem", "s", "vh", "vw", "%"],

        "shorthand-property-no-redundant-values": true,

        "value-no-vendor-prefix": true,

        "property-no-vendor-prefix": true,

        "declaration-no-important": true,
        "declaration-property-unit-blacklist": {
            "box-shadow": ["deg", "em", "fr", "px", "s", "vh", "vw"],
            "font-size": ["deg", "em", "fr", "px", "vh", "vw", "%"],
            "/^border/": ["deg", "em", "fr", "px", "s", "vh", "vw"],
            "/^height/": ["deg", "em", "fr", "px", "s"],
            "/^margin/": ["deg", "em", "fr", "px", "s", "vh", "vw"],
            "/^padding/": ["deg", "em", "fr", "px", "s", "vh", "vw"],
            "/^width/": ["deg", "em", "fr", "px", "s"],
        },
        "declaration-block-single-line-max-declarations": 1,

        "selector-max-empty-lines": 0,
        "selector-max-specificity": "1,2,1",
        "selector-no-qualifying-type": [
            true,
            {
                "ignore": ["attribute", "class", "id"],
            },
        ],
        "selector-no-vendor-prefix": true,

        "media-feature-name-no-vendor-prefix": true,

        "at-rule-no-vendor-prefix": true,

        "max-nesting-depth": 4,

        "color-hex-case": "lower",
        "color-hex-length": "short",

        "font-family-name-quotes": "always-unless-keyword",

        "font-weight-notation": "numeric",

        "function-comma-newline-after": "never-multi-line",
        "function-comma-newline-before": "never-multi-line",
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-max-empty-lines": 0,
        "function-name-case": "lower",
        "function-parentheses-newline-inside": "never-multi-line",
        "function-parentheses-space-inside": "never",
        "function-url-quotes": "always",
        "function-whitespace-after": "always",

        "number-leading-zero": "always",
        "number-no-trailing-zeros": true,

        "string-quotes": "single",

        "length-zero-no-unit": true,

        "unit-case": "lower",

        "value-keyword-case": "lower",

        "value-list-comma-newline-after": "never-multi-line",
        "value-list-comma-newline-before": "never-multi-line",
        "value-list-comma-space-after": "always",
        "value-list-comma-space-before": "never",
        "value-list-max-empty-lines": 0,

        "custom-property-empty-line-before": [
            "never",
            {
                except: ["after-comment"],
            },
        ],

        "property-case": "lower",

        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",

        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-block-semicolon-space-before": "never",
        "declaration-block-trailing-semicolon": "always",

        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always",
        "block-opening-brace-newline-after": "always",
        "block-opening-brace-space-before": "always",

        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-after": "always",
        "selector-attribute-operator-space-before": "always",
        "selector-attribute-quotes": "always",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-descendant-combinator-no-non-space": true,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-colon-notation": "double",
        "selector-type-case": "lower",
        "selector-list-comma-newline-after": "always",
        "selector-list-comma-space-before": "never",

        "rule-empty-line-before": "always",

        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-case": "lower",
        "media-feature-parentheses-space-inside": "never",
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",

        "media-query-list-comma-space-after": "always",
        "media-query-list-comma-space-before": "never",

        "at-rule-name-case": "lower",
        "at-rule-name-space-after": "always",
        "at-rule-semicolon-newline-after": "always",
        "at-rule-semicolon-space-before": "never",

        "comment-whitespace-inside": "always",

        "indentation": 4,
        "max-empty-lines": 1,
        "no-eol-whitespace": true,
        "no-missing-end-of-source-newline": true,


        "scss/at-rule-no-unknown": true,
    },
}
