///

$global-font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; // stylelint-disable-line

/// @type color

$white: rgb(255, 255, 255);

/// @type color

$black: rgb(41, 54, 59);

/// @type color

$gray: rgb(113, 121, 125);

/// @type color

$primary: rgb(236, 71, 92);

/// @type color

$secondary: rgb(246, 130, 122);

/// @type color

$tertiary: rgb(247, 186, 134);
